.bigname{
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    display: flex;
    justify-content: center;
    h1{
        font-size: 80px;
        font-family:'Rubik';
        border-bottom: 1px solid #000;
        #ch-name{
            font-size: 40px;
        }
    }
}

.photo-inf-container{
    width: 100%;
    .photo{
        img{
            box-shadow: 1px 1px #ccc;
        }
    }
    .about-me{
        h2{
            font-size: 45px;
            font-family:'Rubik';
        }
        p{
            font-size: 20px;
            line-height: 1.5;
            text-indent : 2em;
        }
    }
}